<html>

<head>
  <title>
    <%= locals.title %>
  </title>
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <div class="container">
    <div class="todo-container">
      <div class="todo-title">
        <h1>TODO App</h1>
      </div>

      <div class="todo-input">
        <div class="todo-input-item">
          <hr style="margin-top: 0" />
          <form action="/add" method="post">
            <label for="description">Description
              <br />
              <input type="text" placeholder="What do you need to do?" id="description" name="task" required />
            </label>
        </div>
        <div class="todo-input-item">
          <hr />
          <span>
            <label for="catogery">
              Catogery
              <select id="catogery" name="catogery" required>
                <option value="Work">Work</option>
                <option value="Personal">Personal</option>
                <option value="Cleaning">Cleaning</option>
                <option value="School">School</option>
                <option value="Other">Other</option>
              </select>
            </label>
          </span>
          <span>
            <label for="due-date">
              Due Date <input type="date" id="due-date" name="dueDate" required />
            </label>
          </span>
        </div>
        <div class="todo-input-item">
          <hr />
          <span>
            <label for="priority">
              Priority
              <select id="priority" name="priority" required>
                <option value="low">low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Urgent">Urgent</option>
              </select>
            </label>
          </span>
          <span>
            <label for="color">
              Color
              <select id="color" name="taskColor" required>
                <option value="red">red</option>
                <option value="green">green</option>
                <option value="High">High</option>
                <option value="Urgent">Urgent</option>
              </select>
            </label>
          </span>
        </div>
        <div>
          <span>
            <input type="submit" value="Add" />
          </span>
          </form>
          <form action="/del" method="post">
            <span>
              <input type="submit" value="delete" />
            </span>
        </div>

      </div>
      <div class="todo-tasks">
        <hr style="margin: 0" />
        <div class="todo-items">
          <ul>
            <% for (let i of todoLists){%>
              <li>
                <div style="background-color:<%=i.taskColor%>;" class="content">
                  <span>
                    <label for="<%= i._id %>"><input type="checkbox" name="id" value="<%= i._id %>" id="<%= i._id %>" />
                      <%= i.task %>
                    </label>
                  </span>
                  <span>
                    <%= i.dueDate %>
                  </span>
                  <span>
                    <%= i.catogery %>
                  </span>
                </div>
              </li>
              <%}%>
          </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>